$cor-azul: #1998e2;
$cor-branca: #fff;
$cor-preta: #000;
$cor-cinza: #ccc;
$cor-cinza-claro: #eee;
$cor-cinza-escuro: rgb(51, 51, 51);
$cor-vermelha: #f00;
$cor-verde: #0f0;
$cor-amarela: #ff0;
$cor-amarela-claro: #ffff9f;
$cor-roxa: #f0f;