$cor-azul: #1998e2;
$cor-branca: #fff;
$cor-preta: #000;
$cor-preta-transparente-10: hsla(0, 0%, 0%, 0.1);
$cor-preta-transparente-20: hsla(0, 0%, 0%, 0.2);
$cor-cinza: #ccc;
$cor-cinza-claro: #eee;
$cor-cinza-medio: #ddd;
$cor-cinza-escuro: #333;
$cor-vermelha: rgb(248, 100, 100);
$cor-verde: #0f0;
$cor-amarela: #ff0;
$cor-amarela-claro: #ffffdd;
$cor-roxa: #f0f;