/* arquivo SCSS principal do projeto */
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4,
h5,
h6 {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

#app {
  flex: 1;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.tempo-erro {
  color: rgb(192, 9, 9) !important;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 1.5rem;
  border-bottom: 1px solid #ccc;
}

header #principal {
  cursor: pointer;
}

header img {
  width: 40px;
}

header img:hover {
  filter: brightness(1.6);
  cursor: pointer;
}

#help-title {
  color: #fff;
  background-color: #333;
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
}

#help h3 {
  text-transform: uppercase;
  padding: 0.5rem;
}

#help p {
  padding: 0 0.5rem;
  text-align: justify;
  margin-bottom: 0.5rem;
}

#help a:hover {
  filter: brightness(0.3);
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: column;
}

section #total {
  color: #fff;
  background-color: #333;
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #eee;
}

section .period {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  gap: 0;
  color: #fff;
  background-color: #333;
  border-bottom: 1px solid #ccc;
  height: 25px;
}

section .period>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
}

section .period>div:first-child {
  width: 25px;
}

section .days {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  gap: 0;
  height: 100px;
}

section .days>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
}

section .days>div:first-child {
  width: 25px;
}

section .days>div:first-child {
  color: #fff;
  background-color: #333;
  position: relative;
  display: block;
}

section .days>div:first-child p {
  position: absolute;
  padding-top: 2px;
  text-align: center;
  width: 100px;
  bottom: -20%;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
}

section .days>div:nth-child(3) {
  background-color: #eee;
}

section .days>div:nth-child(n+2):hover {
  cursor: pointer;
  background-color: #ffffdd;
}

section .total-day {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #eee;
  border-bottom: 1px solid #333;
  border-right: 1px solid #ccc;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

section .total-day::before {
  background-color: #333;
  content: "";
  width: 24.5px;
  height: 21px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

section .total-day p {
  padding: 2px;
  width: 95%;
  border-top: 1px solid #ccc;
}

#data-day h2 {
  color: #fff;
  background-color: #333;
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
}

#data-day-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50px;
  border-bottom: 1px solid #ccc;
}

#data-day-time input {
  width: 65px;
  font-size: 1.4rem;
  text-align: center;
}

#data-day-time .time-input {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#data-day-note,
#data-day-list {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 5px 0px;
  background-color: #eee;
  min-height: 210px;
  max-height: 210px;
}

#data-day-note p {
  text-align: justify;
  padding: 0.5rem;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 1rem 0;
  min-height: 155px;
  max-height: 155px;
  background-color: #fff;
  overflow: auto;
  overscroll-behavior-y: contain;
  user-select: none;
}

#data-day-note p:hover {
  cursor: pointer;
  background-color: #ffffdd;
}

#data-day .note-show h3 {
  text-align: center;
  text-transform: uppercase;
}

#data-day .note-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#data-day .note-empty img {
  width: 45px;
  transition: 0.2s;
}

#data-day .note-empty img:hover {
  width: 55px;
  cursor: pointer;
}

#data-day-list ul {
  padding: 0.5rem;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 1rem 0;
  min-height: 155px;
  max-height: 155px;
  background-color: #fff;
  overflow: auto;
  overscroll-behavior-y: contain;
  user-select: none;
}

#data-day-list ul:hover {
  cursor: pointer;
  background-color: #ffffdd;
}

#data-day-list ul li {
  padding: 0.4rem 0.8rem;
  background-color: hsla(0, 0%, 0%, 0.1);
  border: 1px solid #eee;
}

#data-day-list ul li:nth-child(odd) {
  background-color: hsla(0, 0%, 0%, 0.2);
}

#data-day-list ul li.checked {
  text-decoration: line-through;
  color: #939393;
  font-style: italic;
  font-weight: 500;
}

#data-day .list-show h3 {
  text-align: center;
  text-transform: uppercase;
}

#data-day .list-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#data-day .list-empty img {
  width: 45px;
  transition: 0.2s;
}

#data-day .list-empty img:hover {
  width: 55px;
  cursor: pointer;
}

#edit-note h2 {
  color: #fff;
  background-color: #333;
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
}

#edit-note h3 {
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

#edit-note-text {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 5px 0px;
  background-color: #eee;
}

#edit-note #conteudo {
  width: 100%;
  height: 250px;
  padding: 0.5rem;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

#edit-note #aplicar {
  display: block;
  min-width: 150px;
  margin: 0rem auto;
  color: #fff;
  background-color: #333;
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

#edit-note #aplicar:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

#edit-list h2 {
  color: #fff;
  background-color: #333;
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
}

#edit-list h3 {
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

#edit-list #list-add {
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 0.5rem;
  padding: 0 2px 0.5rem 2px;
}

#edit-list #list-add textarea {
  width: 100%;
  resize: none;
  padding: 0.2rem;
}

#edit-list-content {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 5px 0px;
  background-color: #eee;
}

#edit-list ul {
  width: 100%;
  height: 250px;
  padding: 0.5rem;
  resize: none;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: auto;
  overscroll-behavior-y: contain;
  user-select: none;
}

#edit-list ul li {
  display: grid;
  grid-template-columns: 15px 1fr 20px;
  gap: 0.5rem;
  align-items: center;
  padding: 0 0.2rem;
  background-color: #eee;
  min-height: 30px;
}

#edit-list ul li:nth-child(odd) {
  background-color: #ddd;
}

#edit-list ul li:hover {
  filter: brightness(1.2);
}

#edit-list ul li label.label-completed {
  text-decoration: line-through;
  color: #939393;
  font-style: italic;
  font-weight: 500;
}

#edit-list ul li label.label-incomplete {
  color: #333;
}

#edit-list ul li button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 9pt;
  background-color: rgb(248, 100, 100);
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bolder;
  border: none;
}

#edit-list ul li button:hover {
  cursor: pointer;
  filter: brightness(0.6);
}

#edit-list #aplicar {
  display: block;
  min-width: 150px;
  margin: 0rem auto;
  color: #fff;
  background-color: #333;
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

#edit-list #aplicar:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: 70px;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

footer h2 {
  font-size: 2rem;
}

footer a:hover {
  color: #ffffdd;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */