/* arquivo SCSS principal do projeto */
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: #fff;
  color: rgb(51, 51, 51);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4, h5, h6 {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

#app {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
}

.tempo-erro {
  color: rgb(192, 9, 9) !important;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 1.5rem;
  border-bottom: 1px solid #ccc;
}
header img {
  width: 40px;
}
header img:hover {
  filter: brightness(1.6);
  cursor: pointer;
}

#help-title {
  color: #fff;
  background-color: rgb(51, 51, 51);
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
}
#help h3 {
  text-transform: uppercase;
  padding: 0.5rem;
}
#help p {
  padding: 0 0.5rem;
  text-align: justify;
  margin-bottom: 0.5rem;
}
#help a:hover {
  filter: brightness(0.3);
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: column;
  min-height: 76.4vh;
}
section #total {
  color: #fff;
  background-color: rgb(51, 51, 51);
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #eee;
}
section .period {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  gap: 0;
  color: #fff;
  background-color: rgb(51, 51, 51);
  border-bottom: 1px solid #ccc;
  height: 25px;
}
section .period > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
}
section .period > div:first-child {
  width: 25px;
}
section .days {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  gap: 0;
  height: 100px;
}
section .days > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
}
section .days > div:first-child {
  width: 25px;
}
section .days > div:first-child {
  color: #fff;
  background-color: rgb(51, 51, 51);
  position: relative;
  display: block;
}
section .days > div:first-child p {
  position: absolute;
  padding-top: 2px;
  text-align: center;
  width: 100px;
  bottom: -20%;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
}
section .days > div:nth-child(3) {
  background-color: #eee;
}
section .days > div:nth-child(n+2):hover {
  background-color: #ffff9f;
  cursor: pointer;
}
section .total-day {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #eee;
  border-bottom: 1px solid rgb(51, 51, 51);
  border-right: 1px solid #ccc;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}
section .total-day::before {
  background-color: rgb(51, 51, 51);
  content: "";
  width: 24.5px;
  height: 21px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
section .total-day p {
  padding: 2px;
  width: 95%;
  border-top: 1px solid #ccc;
}

#data-day h2 {
  color: #fff;
  background-color: rgb(51, 51, 51);
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
}
#data-day-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50px;
  border-bottom: 1px solid #ccc;
}
#data-day-time input {
  width: 65px;
  font-size: 1.4rem;
  text-align: center;
}
#data-day-time .time-input {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  background-color: rgb(51, 51, 51);
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
footer h2 {
  font-size: 2rem;
}
footer a:hover {
  color: #ffff9f;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
