@mixin base-content {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    gap: 0;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $cor-cinza;
    }

    >div:first-child {
        width: 25px;
    }
}

section {
    display: flex;
    flex-direction: column;
    min-height: 76.4vh;

    #total {
        @include config-titulos();
        border-bottom: 1px solid $cor-cinza-claro;
    }

    .period {
        @include base-content();
        @include cor-titulos();
        border-bottom: 1px solid $cor-cinza;
        height: 25px
    }

    .days {
        @include base-content();
        height: 100px;

        >div:first-child {
            @include cor-titulos();
            position: relative;
            display: block;


            p {
                position: absolute;
                padding-top: 2px;
                text-align: center;
                width: 100px;
                bottom: -20%;
                transform-origin: 0% 10%;
                transform: rotate(-90deg);
            }
        }

        >div:nth-child(3) {
            background-color: $cor-cinza-claro;
        }

        >div:nth-child(n+2):hover {
            background-color: $cor-amarela-claro;
            cursor: pointer;
        }
    }

    .total-day {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        background-color: $cor-cinza-claro;
        border-bottom: 1px solid $cor-cinza-escuro;
        border-right: 1px solid $cor-cinza;
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
        
        &::before {
            background-color: $cor-cinza-escuro;
            content: '';
            width: 24.5px;
            height: 21px;
            border-bottom: 1px solid $cor-cinza;
            border-right: 1px solid $cor-cinza;
        }
        
        p {
            padding: 2px;
            width: 95%;
            border-top: 1px solid $cor-cinza;
        }
    }

}