#help {
    
    &-title {
        @include config-titulos();
    }

    h3 {
        @include h3-info();
    };

    p {
        @include p-info();
        margin-bottom: .5rem;
    }

    a:hover {
        filter: brightness(.3);
        text-decoration: underline;
    }
}